﻿@model Canva.Models.CategoryModel
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>EditCategory</h2>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add/Edit Category</div>
            <div class="panel-body">
                <form action="/Admin/EditCategory" method="post">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label>Category Name</label>
                        <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


