﻿@model List<Canva.Models.SubscribeModel>
@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Subscriptions</h2>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">List of Subscription</div>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Email</td>
                                    <td><button class="btn btn-danger" onclick="DeleteCategory('@item.Id')" type="button">Delete</button></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">No record found. </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        function DeleteCategory(id) {
            var result = confirm("Do you want to delete ?");
            if (result) {
                alert('deleted successfully');
            }
        }
    </script>
}

